<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDti15aqqxcKSM5Z-B-jKrDc8Y6BqOt7zA</string>
	<key>GCM_SENDER_ID</key>
	<string>947539259472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amazonMobile</string>
	<key>PROJECT_ID</key>
	<string>fir-88026</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-88026.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947539259472:ios:17c808303d30d70fe92155</string>
</dict>
</plist>